

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135.8deg, rgb(26, 26, 29) 27.1%, rgb(111, 34, 50) 77.5%);
    padding-top: 0px;
    margin: 0px;

}

header {
    text-align: center;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    padding: 50px;
    border-radius: 20px;
}

#response {
    text-align: center; 
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    font-weight: bold;
    font-size: 1.5rem;
}

.p-3 {
    background-color: #00beef;
    padding: 10px;
    justify-content: space-around;
    align-content: space-around;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px rgb(214, 182, 182);
}

<link>collapse-content</link> {
    display: none; /* Hide the content by default */
  }