

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    padding-top: 0px;
    margin: 0px;

}

header {
    text-align: left;
    width: 100vw;
    height: 10%;
    background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    padding: 35px;
    border-radius: 20px;
}

#response {
    text-align: center; 
    background: radial-gradient(circle at 18.7% 37.8%, rgb(179, 153, 153) 0%, red 90%);
    font-weight: bold;
    font-size: 1.5rem;
    width: 80%;
    float: right;
    margin: 20px 5%;
}

h5 {
    color:rgb(250, 250, 250);
    text-align: center;
}

.btn {
padding: 20px 80px;
font-size: 20px;
border-radius: 10px;
margin: 20px
}

.offcanvas-title {
    color: black;
}

#NPC-Submit {
    margin: 10px auto;
}

#vertical-btn {
    position: fixed;
    top: 12%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
