

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    padding-top: 0px;
    margin: 0px;

}

header {
    display: inline-flex;
    width: 100vw;
    min-height: 5%;
    background-image: url("Images/pen and paper.jpg");
    background-size: contain;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

#dice {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1%;
    top: 5%;
    z-index: 1;
}

#response {
    text-align: center; 
    background: radial-gradient(circle at 18.7% 37.8%, rgb(179, 153, 153) 0%, red 90%);
    font-weight: bold;
    font-size: 1.5rem;
    width: 80%;
    float: right;
    margin: 20px 5%;
}

h5 {
    color:rgb(250, 250, 250);
    text-align: center;
}

.btn-primary {
font-size: 18px;
border-radius: 10px;
margin: 5px
}

.offcanvas-title {
    color: black;
}

#NPC-Submit {
    margin: 10px auto;
}

#vertical-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
